In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/codebasics/py/master/ML/18_PCA/Exercise/heart.csv"
df = pd.read_csv(url)
df.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
df.shape

(918, 12)

In [ ]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

##Remove outliers using Z score.

In [ ]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [ ]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+(3*df.Cholesterol.std()))]
df1.shape

(915, 12)

In [ ]:
df1[df1.RestingBP>(df1.RestingBP.mean()+(3*df1.RestingBP.std()))]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [ ]:
df2 = df1[df.RestingBP<=(df1.RestingBP.mean()+(3*df1.RestingBP.std()))]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [ ]:
df2.shape

(908, 12)

In [ ]:
df2[df2.MaxHR>(df2.MaxHR.mean()+(3*df2.MaxHR.std()))]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [ ]:
df2[df2.Oldpeak>(df2.Oldpeak.mean()+(3*df2.Oldpeak.std()))]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [ ]:
df3 = df2[df2.Oldpeak<=(df2.Oldpeak.mean()+(3*df2.Oldpeak.std()))]

In [ ]:
df3.shape

(902, 12)

##Convert text columns to numbers using label encoding and one hot encoding

In [ ]:
df3.Sex.unique()

array(['M', 'F'], dtype=object)

In [ ]:
df3.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [ ]:
df3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [ ]:
df3.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [ ]:
df3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [ ]:
df4 = df3.copy()
df4.ChestPainType.replace(
    {
        'ATA':1,
        'NAP':2,
        'ASY':3,
        'TA':4
    },
    inplace=True
)
df4.RestingECG.replace(
    {
        'Normal':1,
        'ST':2,
        'LVH':3
    },
    inplace=True
)
df4.ExerciseAngina.replace(
    {
        'N':0,
        'Y':1
    },
    inplace=True
)
df4.ST_Slope.replace(
    {
        'Up':1,
        'Flat':2,
        'Down':3
    },
    inplace=True
)

In [ ]:
df4.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,1,172,0,0.0,1,0
1,49,F,2,160,180,0,1,156,0,1.0,2,1
2,37,M,1,130,283,0,2,98,0,0.0,1,0
3,48,F,3,138,214,0,1,108,1,1.5,2,1
4,54,M,2,150,195,0,1,122,0,0.0,1,0

In [ ]:
df5 = pd.get_dummies(df4,drop_first=True)
df5.head(5)

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,0,1
1,49,2,160,180,0,1,156,0,1.0,2,1,0
2,37,1,130,283,0,2,98,0,0.0,1,0,1
3,48,3,138,214,0,1,108,1,1.5,2,1,0
4,54,2,150,195,0,1,122,0,0.0,1,0,1

In [ ]:
X = df5.drop('HeartDisease',axis='columns')
y = df5.HeartDisease

In [ ]:
X.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,1
1,49,2,160,180,0,1,156,0,1.0,2,0
2,37,1,130,283,0,2,98,0,0.0,1,1
3,48,3,138,214,0,1,108,1,1.5,2,0
4,54,2,150,195,0,1,122,0,0.0,1,1

##Apply scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269, -1.6990351 ,  0.46089071, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       [-0.47545956, -0.52558207,  1.5925728 , ...,  0.14079864,
         0.62072967, -1.94228905],
       [-1.74679706, -1.6990351 , -0.10495034, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       ...,
       [ 0.37209878,  0.64787097, -0.10495034, ...,  0.33831089,
         0.62072967,  0.51485643],
       [ 0.37209878, -1.6990351 , -0.10495034, ..., -0.84676261,
         0.62072967, -1.94228905],
       [-1.64085227, -0.52558207,  0.3477225 , ..., -0.84676261,
        -1.0456339 ,  0.51485643]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2,random_state=30)

###Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy

In [ ]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
m_svm = svm.SVC()
m_svm.fit(X_train,y_train)
m_svm.score(X_test,y_test)

0.850828729281768

In [ ]:
m_rfc = RandomForestClassifier()
m_rfc.fit(X_train,y_train)
m_rfc.score(X_test,y_test)

0.8674033149171271

In [ ]:
m_lr = LogisticRegression()
m_lr.fit(X_train,y_train)
m_lr.score(X_test,y_test)

0.856353591160221

##Use PCA to reduce dimensions

In [ ]:
X

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,1
1,49,2,160,180,0,1,156,0,1.0,2,0
2,37,1,130,283,0,2,98,0,0.0,1,1
3,48,3,138,214,0,1,108,1,1.5,2,0
4,54,2,150,195,0,1,122,0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
913,45,4,110,264,0,1,132,0,1.2,2,1
914,68,3,144,193,1,1,141,0,3.4,2,1
915,57,3,130,131,0,1,115,1,1.2,2,1
916,57,1,130,236,0,3,174,0,0.0,2,0
917,38,2,138,175,0,1,173,0,0.0,1,1

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[ 93.82578617, -29.40972153],
       [-15.58358373, -14.11138644],
       [ 83.29717401,  38.67558307],
       ...,
       [-67.5736769 ,  17.61569842],
       [ 40.7057408 , -33.39645499],
       [-19.91303046, -37.29272636]])

In [ ]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca,y,test_size=0.2,random_state=30)

In [ ]:
m_rfc = RandomForestClassifier()
m_rfc.fit(X_train_pca,y_train)
m_rfc.score(X_test_pca,y_test)

0.7016574585635359