In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/codebasics/py/master/ML/19_Bagging/Exercise/heart.csv'
df = pd.read_csv(url)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [ ]:
df.shape

(918, 12)

##Remove outliers using Z score

In [ ]:
df[df.RestingBP>(df.RestingBP.mean()+(3*df.RestingBP.std()))]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [ ]:
df1 = df[df.RestingBP<=(df.RestingBP.mean()+(3*df.RestingBP.std()))]
df1.shape

(911, 12)

In [ ]:
df1[df1.Cholesterol	>(df1.Cholesterol	.mean()+(3*df1.Cholesterol.std()))]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [ ]:
df2 = df1[df1.Cholesterol	<=(df1.Cholesterol	.mean()+(3*df1.Cholesterol.std()))]
df2.shape

(908, 12)

In [ ]:
df2[df2.MaxHR	>(df2.MaxHR	.mean()+(3*df2.MaxHR.std()))]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [ ]:
df2[df2.Oldpeak	>(df2.Oldpeak	.mean()+(3*df2.Oldpeak.std()))]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [ ]:
df3 = df2[df2.Oldpeak	<=(df2.Oldpeak	.mean()+(3*df2.Oldpeak.std()))]
df3.shape

(902, 12)

In [ ]:
df3.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000
mean,53.487805,131.854767,197.347007,0.232816,136.848115,0.857428,0.548780
std,9.444115,17.682612,107.585613,0.422860,25.451226,1.013157,0.497891
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.000000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.500000,1.000000
75%,60.000000,140.000000,266.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,185.000000,518.000000,1.000000,202.000000,4.000000,1.000000

In [ ]:
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

##Convert text columns to numbers using label encoding and one hot encoding

In [ ]:
df3.ChestPainType.unique(),df3.RestingECG.unique(),df3.ExerciseAngina.unique(),df3.ST_Slope.unique()

(array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object),
 array(['Normal', 'ST', 'LVH'], dtype=object),
 array(['N', 'Y'], dtype=object),
 array(['Up', 'Flat', 'Down'], dtype=object))

In [ ]:
df4 = df3.copy()
df4.ChestPainType.replace(
    {
        'ATA':0,
        'NAP':1,
        'ASY':2,
        'TA':3
    },
    inplace=True
)
df4.RestingECG.replace(
    {
        'Normal':0,
        'ST':1,
        'LVH':2
    },
    inplace=True
)
df4.ExerciseAngina.replace(
    {
        'N':0,
        'Y':1
    },
    inplace=True
)
df4.ST_Slope.replace(
    {
        'Up':0,
        'Flat':1,
        'Down':2
    },
    inplace=True
)

In [ ]:
df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,0,140,289,0,0,172,0,0.0,0,0
1,49,F,1,160,180,0,0,156,0,1.0,1,1
2,37,M,0,130,283,0,1,98,0,0.0,0,0
3,48,F,2,138,214,0,0,108,1,1.5,1,1
4,54,M,1,150,195,0,0,122,0,0.0,0,0

In [ ]:
df4 = pd.get_dummies(df4,drop_first=True)
df4.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M
0,40,0,140,289,0,0,172,0,0.0,0,0,1
1,49,1,160,180,0,0,156,0,1.0,1,1,0
2,37,0,130,283,0,1,98,0,0.0,0,0,1
3,48,2,138,214,0,0,108,1,1.5,1,1,0
4,54,1,150,195,0,0,122,0,0.0,0,0,1

In [ ]:
X = df4.drop('HeartDisease',axis='columns')
y = df4.HeartDisease
X.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M
0,40,0,140,289,0,0,172,0,0.0,0,1
1,49,1,160,180,0,0,156,0,1.0,1,0
2,37,0,130,283,0,1,98,0,0.0,0,1
3,48,2,138,214,0,0,108,1,1.5,1,0
4,54,1,150,195,0,0,122,0,0.0,0,1

##Apply scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[0]

array([-1.42896269, -1.6990351 ,  0.46089071,  0.85238015, -0.55087949,
       -0.74461081,  1.38191324, -0.82065181, -0.84676261, -1.0456339 ,
        0.51485643])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=0.2)

####Build a classification model using support vector machine. Use standalone model as well as Bagging model and check if you see any difference in the performance.

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier

In [ ]:
scores = cross_val_score(SVC(), X, y, cv=5)
scores

array([0.62430939, 0.79558011, 0.68888889, 0.72777778, 0.61666667])

In [ ]:
scores.mean()

0.6906445672191528

In [ ]:
m_bagging = BaggingClassifier(
    base_estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)
m_bagging.fit(X_train,y_train)

BaggingClassifier(base_estimator=SVC(), max_samples=0.8, n_estimators=100,
                  oob_score=True, random_state=0)

In [ ]:
m_bagging.oob_score_

0.8571428571428571

In [ ]:
m_bagging.score(X_test,y_test)

0.8895027624309392

#####Use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance

In [ ]:
from dataclasses import make_dataclass
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(),X,y,cv=10)
scores

array([0.78021978, 0.8021978 , 0.75555556, 0.8       , 0.81111111,
       0.77777778, 0.85555556, 0.75555556, 0.64444444, 0.71111111])

In [ ]:
scores.mean()

0.7693528693528695

In [ ]:
m_bagging = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)
m_bagging.fit(X_train,y_train)
m_bagging.score(X_test,y_test)

0.8729281767955801

In [ ]:
from sklearn.ensemble import RandomForestClassifier
m_rfc = RandomForestClassifier()
m_rfc.fit(X_train,y_train)
m_rfc.score(X_test,y_test)

0.8895027624309392